---
layout: default
---
        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo"><img src="images/logo.png" alt="openCOBRA"/></span>
            <span class="typedheader typed"></span> <!-- filled by main.js using typed.js -->
        </header>
        <div id="main">
            <section id="packages" class="main special">
                <header class="major">
                    <h2>Packages</h2>
                </header>
                <ul class="features">
                    {% for item in site.packages %}
                    <li>
                        <span class="icon major {{item.style}}"><a href="{{item.remoteweb}}"><img src="{{item.image}}" height="{{item.size}}"/></a></span>
                        <h3><br><a href="{{item.remoteweb}}">{{ item.title }}</a></h3>
                        <p>{{ item.description }}</p><br>
                        <a href="{{ item.remoteurl }}"><img src="images/githubLOGO.png" height="45px"></a><br>
                        <a href="{{ item.remoteweb }}" class="button">Learn More</a>
                        <ul class="actions">
                            <li></li>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>What is COBRA?</h2>
                        </header>
                        <p>The COnstraints Based Reconstruction and Analysis (<b>COBRA</b>) approach to systems biology accepts the fact that we <b>do not possess sufficiently detailed parameter data</b> to precisely model, in the biophysical sense, an organism at genome-scale.</p>
<br>
                          <p>Increasingly, <b>omics data</b> has been used to define the set of feasible states for a biological network in a given condition based on current knowledge. These constraints include <b>compartmentalization</b>, <b>mass conservation</b>, <b>molecular crowding</b>, and <b>thermodynamic directionality</b>. More recently, transcriptome data have been used to reduce the size of the set of computed feasible states.</p>
<br>
                          <p>
                            Although <b>COBRA</b> methods may not provide a unique solution, they provide a <b>reduced set of solutions</b> that may be used to <b>guide</b> biological hypothesis <b>development</b>. Given its success, COBRA has attracted attention from many investigators and has <b>developed rapidly in recent years</b> based on contributions from a growing number of laboratories – COBRA methods have been used in <b>hundreds of studies</b> to deal with the complex relationships and high dimensionality of the next generation of COBRA models.</p>
                    </div>
                    <span class="image"><img src="images/stoichio.png" alt="" />
                    <div class="overlay">Representation of a stoichiometric matrix <br>[2785 x 3820] - <b>Human Model Recon 1</b>.</div>
                    </span>
                    </div>
            </section>
            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>History</h2>
                        </header>
                        <p>The <b>openCOBRA project</b> has arisen to provide researchers with <b>easy access</b> to core COBRA methodologies, and to provide a repository for community contributed modules that build off of these core COBRA features. The <b>openCOBRA project</b> was initiated with tools for <b>MATLAB</b> but has now grown to include <b>Python</b> and <b>Julia</b>-based modules for dealing with the complex relationships of the next generation of COBRA models.</p>
<br>
                        <p>The openCOBRA project is currently lead by <b>Ronan Fleming</b> from the National University of Ireland, Galway (NUIG), <a href="http://www.dtu.dk/english/service/phonebook/person?id=87972&tab=2&qt=dtupublicationqueryy"><b>Nikolaus Sonnenschein</b></a> from the Technical University of Denmark, and <a href="http://lewislab.ucsd.edu"><b>Nathan Lewis</b></a> from UCSD.</p>
                    </div>
                    <span class="image"><img src="images/history.gif" alt="" />
                    <div class="overlay">Evolution of the repository of <br><b>The COBRA Toolbox</b> (2016-2017).</div>
                    </span>
                </div>
            </section>
            <section id="citation" class="main special">
                <header class="major">
                    <h2>How to cite an <b>openCOBRA</b> package?</h2>
                </header>
                    {% for item in site.citation %}
                    <p style="clear: both;">
                    <span class="image {% cycle 'left', 'right' %}"><img src="{{ site.baseurl }}/{{ item.image }}" alt="" height="{{ item.height }}"/></span>
                    <h3> <div align="left">{{ item.title }}<div> </h3>
                    <div align="left">{{ item.description }}</div>
                    <br>
                    </p>
                    <br>
                    {% endfor %}
            </section>
            <section id="collaborators" class="main special">
                <header class="major">
                    <h2><b>openCOBRA</b> leadership</h2>
                </header>
                The openCOBRA project is currently lead by <b>Ronan Fleming</b> from the National University of Ireland, Galway (NUIG), <br><a href="http://www.dtu.dk/english/service/phonebook/person?id=87972&tab=2&qt=dtupublicationqueryy"><b>Nikolaus Sonnenschein</b></a> from the Technical University of Denmark, and <a href="http://lewislab.ucsd.edu/"><b>Nathan Lewis</b></a> from UCSD.<br><br>
                  <ul class="featureslogo">
                      {% for item in site.collaborators %}
                      <li>
                          <div style="align-center;"><a href="{{ item.remoteurl }}"><img src="{{ site.baseurl }}/{{ item.image }}" alt="" width="100%"></a></div>
                      </li>
                      {% endfor %}
                  </ul>
            </section>
        </div>
